@page
@model DailyDiary.Pages.DiaryContent.NewContentModel
@{
    ViewData["Title"] = "New Content";
}

<br />
<h2 class="text-info">Create New Content</h2>
<br />

<div class="border container" style="padding: 30px;"> 
    <form method="post" enctype="multipart/form-data">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        @*Title*@
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Diary.Title"></label>
            </div>

            <div class="col-6">
                <input asp-for="Diary.Title" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="Diary.Title"></span>
        </div>

        @*Content*@
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Diary.Content"></label>
            </div>

            <div class="col-6">
                <textarea asp-for="Diary.Content" class="form-control"></textarea>
            </div>
            <span class="text-danger" asp-validation-for="Diary.Content"></span>
        </div>

        @*Image*@
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Photo">Image</label>
            </div>

            <div class="col-6">
                <input type="file" accept="image/*" asp-for="Photo" class="form-control" />
            </div>
        </div>

        @*Author*@
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Diary.Author"></label>
            </div>

            <div class="col-6">
                <input asp-for="Diary.Author" class="form-control" />
            </div>
        </div>

        @*Date*@
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Diary.Date"></label>
            </div>

            <div class="col-6">
                <input asp-for="Diary.Date" class="form-control" />
            </div>
        </div>

        @*Buttons*@
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Add" class="btn btn-primary form-control text-white" />
            </div>

            <div class="col-3">
                <a class="btn btn-danger text-white form-control" asp-page="Index">Back to Diary</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
